/* .Card {
  Complete card styles here
} */

.Card:hover {
  box-shadow: 0px 0px 100px #8b8b8b;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1.1, 1.1);
}


@media only screen and (min-width: 1600px) {
  .Card {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 700px;
    margin-top: 5%;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgb(255, 0, 0);
    background-color:rgb(0, 0, 0);
  }

  .Image {
    vertical-align: middle;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  .Details {
    margin-left: 10%;
    margin-right: 5%;
    /* width: 50%; */
    /* text-align: center; */
    font-size: 15px;
    font-weight: bold;
    color: White;
    /* grid-area: set; */
    margin-bottom: 10%;
  }
  .Text{
    color:#00d0ff;
  }
  
}

@media only screen and (min-width: 800px) and (max-width:1800px) {
  .Card {
    margin-left: 50px;
    margin-right: auto;
    width: 35%;
    height: 680px;
    margin-top: 5%;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgb(163, 212, 77);
    background-color:rgb(0, 0, 0);
  }

  .Image {
    vertical-align: middle;
    margin:0%;
    margin-bottom: -40px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 620px;
  }

  .Details {
    margin:0%;
    margin-left: 10%;
    margin-right: 5%;
    /* width: 50%; */
    /* text-align: center; */
    font-size: 15px;
    font-weight: bold;
    color: White;
    /* grid-area: set; */
    margin-bottom: 10%;
  }
  .Text{
    color:#00d0ff;
  }
  
}


@media only screen and (max-width: 800px) {
  .Card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgb(72, 31, 255);
    background-color:rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }

  .Image {
    
    margin-top: -60px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 620px;
  }

  .Details {
    margin-left: 10%;
    margin-right: 5%;
    /* width: 50%; */
    font-size: 15px;
    font-weight: bold;
    color: White;
    margin-bottom: 10%;
  }
  .Text{
    color:#00d0ff;
  }
}